*{
	margin: 0;
	padding: 0;
}

header{
	background: black;
	padding-left: 10%;
	margin-top: 10%; 
	height: 48px;
}

header.docked{
	-webkit-transition-property: margin-top, height, padding-left;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
	margin-top:0;
	height: 42px; 
	padding-left: 50px;
}

img{
	background: white;
	height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

