@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic);

*{
	margin: 0;
	padding: 0;
	outline: none; 
}

html{
	font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif;
	font-size: 18px;
	height: 100%;
}

section{
	width: 650px;
	margin: auto;
	margin-top: 60px;
}


img{
	display: block;
	margin: auto;
	margin-bottom: 40px;
}


h3{
	font-weight: normal;
	font-size: 25px;
	text-align: center;
	margin-bottom: 10px;
}

h2{
	text-align: left;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 30px;
	border-bottom: 1px solid black;
	width: 100%
}

p{
	padding-left: 15px;
}

/* STATUS */

ul{
	text-align: center;
	margin-bottom: 30px;
}

li{
	display: inline-block;
	list-style: none;
	font-size: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

#status div{
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: -10%;
}

#status .unconfigured{
	color: #777;
}

#status .unconfigured div{
	background: url('../img/iconmonstr-warning-4-icon.svg');
}

#status .valid{
	color: #20ae00;
}

#status .valid div{
	background: url('../img/iconmonstr-check-mark-4-icon.svg');
}

#status .invalid{
	color: #ae2000;
}

#status .invalid div{
	background: url('../img/iconmonstr-x-mark-4-icon.svg');
}

#callback{
	font-family: monospace;
	font-size: 14px;
}

/* POPUPS */

#overlay{
	display: none;
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}

#overlay.block{
	display: block;
}

.popup{
	z-index: 100;
}

/* FORMS */

article{
	opacity: 0;
	height: 0px;
	position: relative;
	-webkit-transition: opacity 0.4s ease, left 1s ease-in-out;
	left: -100%;
}

article.visible{
	left: 0;
	opacity: 1;
}

input{
	display: block;
	border: 2px solid black;
	margin: auto;
	margin-top: 15px;
	width: 550px;
	font-size: 25px;
	text-align: center;
}

input:focus{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input.valid{
	border: 2px solid #20ae00;
}

input.invalid{
	border: 2px solid #ae2000;
}

button{
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: black;
	border : 2px solid black;
	margin: auto;
	margin-top: 30px;
	display: block;
	color: white;
	cursor: pointer;
}

button:hover{
	text-shadow: 0 0 10px white;
}

button:active{
	background-color: white;
	color: black;
}

button.disabled:hover,button.disabled:active,button.disabled{
	background-color: #555;
	color: #aaa;
	cursor: default;
	text-shadow: none;
}





